<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<form th:action="@{/article/{articleId}/delete(articleId=${article.id})}" method="post">
    <input type="hidden" name="boardId" th:value="${boardId}">

    <h1>정말 삭제하시겠습니까?</h1>
    <h2>삭제된 게시글은 복구할 수 없습니다.</h2>

    <div class="mb-3">
        <label>비밀번호를 입력하세요:
            <input type="password" name="password">
        </label>
        <!-- 비밀번호가 틀린 경우 -->
        <span th:if="${param.error}" style="color: red;">비밀번호가 틀렸습니다.</span>
    </div>

    <button type="submit">YES</button>
    <a th:href="@{/article/{articleId}(articleId=${article.id})}">
        <button type="button">NO</button>
    </a>
</form>
</body>
</html>