<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Details</title>
</head>
<body>
<h1 th:text="${board.name}"></h1>

<!-- 게시글 생성 버튼 -->
<a th:href="@{'/boards/' + ${board.id} + '/article'}">
    <button>게시글 작성하기</button>
</a>

<!-- 게시글이 없을 경우 -->
<div th:if="${board.articles.isEmpty()}">
    <p>게시글이 없습니다.</p>
</div>

<!-- 게시글이 있는 경우 -->
<div th:unless="${board.articles.isEmpty()}" th:each="article : ${board.articles}">
    <a th:href="@{'/article/' + ${article.id}}">[[${article.title}]]</a>
</div>

<hr>
<!-- 메인(게시판 리스트)으로 돌아가는 링크 -->
<a href="/boards">Back</a>

</body>
</html>